# PRZYJAZNE ADRESY

RewriteEngine On  # [L] nie szuka dalej

RewriteRule ^zaloguj-sie$ index.php?klasa=Dostep&funkcja=logowanie [L]

RewriteRule ^zaloguj$ index.php?klasa=Dostep&funkcja=ekranLogowania [L]
# $_GET['klasa'] = "Dostep"

RewriteRule ^/?$ index.php?klasa=Dostep&funkcja=ekranLogowania [L]

RewriteRule ^home$ index.php?klasa=KlientZalogowany&funkcja=powitanie
# $_GET['klasa'] = "Start"

# Napisz kolejne reguły do:
# - Wyświetlenia formularza rejestracji (np. klasa=Dostep&funkcja=ekranRejestracji)
